body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px; }

#wrapper #center_container {
  margin: auto;
  width: 720px;
  margin-top: 100px;
  z-index: 50; }
  #wrapper #center_container div {
    text-align: center; }
  #wrapper #center_container div#main_menu {
    display: none; }
  #wrapper #center_container div#footer {
    display: none; }
  #wrapper #center_container img#banner {
    margin-top: 70px; }
  #wrapper #center_container canvas {
    z-index: -1;
    position: fixed;
    width: 720px;
    height: 480px; }

.progress {
  margin: auto;
  opacity: 0.9;
  margin-top: 30px;
  width: 74% !important;
  background-color: #090909;
  border: 5px solid black;
  border-radius: 5px; }
  .progress .cell {
    border-right: 5px solid black; }
    .progress .cell.last {
      border: none; }
    .progress .cell .caption {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #4b2a4d; }
    .progress .cell .ui-progressbar-value {
      background-image: url(../img/progress.png);
      background-position: center center;
      background-repeat: repeat-x; }
