@import "colors";
@import "fonts";

body {
    background-color:black; 
    color:white;
    padding:0px;
    margin:0px;
}

#wrapper {
    
    #center_container {
        
        div { text-align:center;}
        
        div#main_menu { display:none;}
        div#footer{display:none;}
        
        img#banner {
            margin-top:70px;
        }
        
        margin:auto;
        width:720px;
        margin-top:100px;
        z-index:50;
        
        canvas {
            z-index:-1;
            position:fixed;
            width:720px;
            height:480px;
        }
    }
}

