@font-face {
    font-family: '8bit-wonder';
    src: url('../files/8-bit_wonder-webfont.eot');
    src: url('../files/8-bit_wonder-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/8-bit_wonder-webfont.woff') format('woff'),
         url('../files/8-bit_wonder-webfont.ttf') format('truetype'),
         url('../files/8-bit_wonder-webfont.svg#8bit_wondernominal') format('svg');
    font-weight: normal;
    font-style: normal;

}